.select {
    width: 100%;
    height: 30px;
    background-color: #D9D9D910;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    color: white;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 30px;
    cursor: pointer;
    option {
        background-color: #D9D9D910;
        color: white;
    }
} 