.container {
  background-color: #D9D9D910;
  padding: 8px 10px;
  border-radius: 7px;
  display: flex;
}

.addCron {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;

  &.inputActive {
    display: flex;
    justify-content: flex-start;
    cursor: auto;
  }
}

.inputContainer {
  gap: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  button {
    width: 50px;
    height: 30px;
    width: 100%;
  }

  input {
    height: 30px;
  }
}

.optionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.deviceSelectElement {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.oneTime {
  display: flex;
  gap: 5px;
  padding: 10px 0px;

  input {
    height: auto;
  }
}

.buttonContainer {
  display: flex;
  gap: 5px;
}
