.container {
  background-color: #D9D9D910;
  padding: 8px 10px;
  border-radius: 7px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 19px 19px;
  row-gap: 4px;
  column-gap: 10px;
  grid-template-columns: 100%;

  &:hover {
    grid-template-columns: calc(100% - 96px) 96px;
    .removeContainer {
      opacity: 1;
    }
    .actionContainer {
      opacity: 1;
      width: auto;
    }
  }
}

.nameHeading {
  color: rgb(225, 126, 111);

  &.isEnabled {
    color: rgb(149, 187, 149);
  }
}

.actionContainer {
  opacity: 0;
  width: 0;
  overflow: hidden;
  height: 42px;
  display: flex;
  gap: 5px;
  transition: all 0.5s;
}

.action {
  height: 42px;
  aspect-ratio: 1/1;
  background-color: #D9D9D910;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.reducedColor {
  color: rgb(108, 104, 104);
}

.bold {
  font-weight: bold;
}